* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: antiquewhite;
}
header {
    background-color: rgba(159, 255, 255, 0.489);
    margin: 60px rgb(171, 255, 252);
    padding: 30px;
    border: 12px;
    height: 60px;
    width: 95%;
    border-style: ridge;
    position: fixed;
}
header h1 {
    position: absolute;
    top: 5px;
    left: 120px;
    line-height: 120px;
    font-family: "宋体";
    font-size: 40px;
}
header ul {
    position: absolute;
    top: 5px;
    right: 5vw;
    line-height: 120px;
    color:aliceblue;
    list-style: none;
}
header a {
    color: rgb(95, 108, 255);
    text-decoration: none;
    font-size: 25px;
}
header ul a:hover{
    text-decoration: underline;
}
.quote {
    height: 70vh;
    background-image: url(pictures/kivotos2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.quote h2{
    margin: 10px 0;
    font-size: 40px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
.guide {
    height:75vh;
    background-image: url(pictures/kivotos.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.guide h3{
    margin: 10px 0;
    font-size: 40px;
}
.guide p{
    margin: 10px 0;
    font-size: 20px;
}
.guide a{
    border: 5px;
    background-color: rgb(143, 255, 255);
    border-style:outset;
    border-radius: 5px;
    border-color: rgb(143, 255, 255);
    text-decoration: none;
}
.guide a:hover{
    text-decoration: underline;
}
.photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 30px 100px 30px;
}
.photos div{
    width: 500px;
    text-align: center;
    margin: 30px;
}
.photos img{
    width: 100%;
    border-radius: 10px;
}
.photos h3{
    font-size: 30px;
    margin: 20px 0;
}
.photos p{
    font-size: 20px;
    line-height: 1.6em;
}